<?xml version="1.0" encoding="UTF-8"?>
<suite name="Swag Labs Order suite" parallel="false">
    <test thread-count="5" name="SwagLabsTest">
        <listeners>
            <listener class-name="extentReportListener.ExtentReporterNG"/>
        </listeners>
        <classes>
            <class name="tests.swagLabsTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
